<div>
    <div>
        <p id="logoText">🅶🅾🅻🅳🅴🅽 🅾🆆🅻🆂</p>
    </div>
    <div>
        <img id="logoImg" src="~/Content/Images/goldenOwlR.png" alt="Golden Owl" />
        <img id="logoImg" src="~/Content/Images/goldenOwl.png" alt="Golden Owl" />
    </div>
</div>

